/* variables */
:root {
    --primary: #000000;
    --secondary:  #fffffc;  
  }
  
  /* reset */
  body,p,a,ul,li{
    margin:0;
    padding:0;
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  
  /* base styles */
  
  body {
  background: var(--secondary);
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-size: 2em;
    padding-left: 20px;
  }
  
  h1,h3,h4 {
    color: #000000;
    font-weight: normal;
  }
  
  h3 {
    font-size: 1.8em;
  }
  
  h2 {
    font-size: 1.8em;
    font-style: 'Archivo Black';
    padding-left: 10px;
  }

  img {
    max-width: 100%;
   }



/* mobile styles */

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
   


  .site-nav {
    margin: 0 20px;
    height: 73px; 
    background-color: var(--primary);
    width: 100%;
    margin-left: 0px;
   } 

/*
select {
    display: block;
}
*/

.site-nav h1 {
    grid-column: 1/8;
    grid-row:1;
    padding-bottom:10px;
    margin-left:30px;
    color: var(--secondary)
  }

  
 
  #welcome {
    margin-right: 0px;
    margin-left:0px;
    padding-right: 10px; 
    padding-left:0px;
    background-color: #D3D3D3;
  }

.welcome-text{
    grid-column: 1/8;
    color: var(--primary);
    width: 100%;
    margin-left:35px;
  }

 #deckForm {
    grid-column: 1/9;
    grid-row: 1/4;
    margin: 40px 40px;
 }

  .deckMain{
    grid-column: 1/9;
    grid-row: 1/4;
   }

   #deckCards {
    margin-right: 0px;
    margin-left:0px;
    padding-right: 10px; 
    padding-left:0px;
    width: 100%;
   }

  #deckInformation h3 {
    margin-bottom: 0;
    text-align: center;
  }
 
  #deckInformation {
   grid-column: 1/9;
   margin-right: 30px;
   margin-left: 30px;
   padding-right: 15px;
   padding-left: 15px;
  }

  #deckDetails {
    padding-top:10px;
    grid-column: 1/9;
    grid-row: 5/8;
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }

  #deckSummary {
    padding-top: 10px;
  }

  p.deckimage {
      padding-bottom: 10px;
  }

  footer {
    height: 73px; 
    background-color: var(--primary);
   } 

   footer p {
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 10px;
    grid-column: 1/9;
    color: var(--secondary);
   }
  

/* large tablets and laptop styles */
@media screen and (min-width: 960px){
.deckMain{
 grid-column: 1/5;
 grid-row: 1;
 margin-left: 2%;
 padding-left:0;
 padding-right:0;
}

#deckDetails p.cardcopy {
    padding-top:10px;
    grid-column: 1/9;
    grid-row: 1;
    margin: 10px 10px;
  }

#deckDetails p.deckimage{
 padding-top:10px;
 grid-column: 7/9;
 grid-row: 1;
 margin: 10px 10px 20px 0;
}

#deckDetails p {
 padding-top:10px;

}
   }