/* variables */
:root {
    --primary: #000000;
    --secondary:  #fffffc;  
  }
  
  /* reset */
  body,p,a,ul,li{
    margin:0;
    padding:0;
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  
  /* base styles */
  
  body {
  background: var(--secondary);
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-size: 1.8em;
    padding-left: 20px;
  }
  
  h1,h3,h4 {
    color: #000000;
    font-weight: normal;
  }
  
  h3 {
    font-size: 1.6em;
  }
  
  h2 {
    font-size: 1.8em;
    font-style: 'Archivo Black';
    padding-left: 10px;
  }

  img {
    max-width: 100%;
   }



/* mobile styles */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
   
  .card-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    grid-gap: 1rem;
    margin-left:1rem;
    margin-right:1rem;
}
.card {
    display: grid;
    box-shadow: 0px 1px 5px #555;
    height: auto;
}

.card-title {
  font-size: 1rem;
  padding: .5rem;
}
.card-description {
  padding: .5rem;
  line-height: 1.6em;
}

figure {
  margin: 0px;
}

.thumbnail:hover {
  position:relative;
  top:-5px;
  left:-5px;
  width:100%;
  height:auto;
  display:block;
  z-index:auto;
}


  .site-nav {
    margin: 0 20px;
    height: 73px; 
    background-color: var(--primary);
    width: 100%;
    margin-left: 0px;
   } 

/*
select {
    display: block;
}
*/

.site-nav h1 {
    grid-column: 1/8;
    grid-row:1;
    padding-bottom:10px;
    margin-left:30px;
    color: var(--secondary)
  }
 
  #welcome {
    margin-right: 0px;
    margin-left:0px;
    padding-right: 10px; 
    padding-left:0px;
    background-color: #D3D3D3;
  }

.welcome-text{
    grid-column: 1/8;
    color: var(--primary);
    width: 100%;
    margin-left:35px;
  }

  

 #deckForm {
    grid-column: 1/9;
    grid-row: 1/4;
    margin: 40px 40px;
 }

 #deckInput{
   width: 200px;
 }

 #codeID {
  width: 200px;
}

   #deckCards {
    grid-column:1;
    grid-row-start: 2;
    margin-right: 0px;
    margin-left:0px;
    padding-right: 10px; 
    padding-left:0px;
    width: 100%;
   }

   #deckSummary {
    grid-row-start: 4;
    grid-column: 1;
   }

  #deckInformation h3 {
    margin-bottom: 0;
    text-align: center;
  }
 
  #deckInformation {
   margin-right: 30px;
   margin-left: 30px;
   padding-right: 15px;
   padding-left: 15px;
  }

  
  #deckSummary {
    padding-top: 10px;
  }

 .card-cost {
   padding-left: 10px;
 }

 .card-stats {
  padding-left: 10px;
 }


  footer {
    height: 73px; 
    background-color: var(--primary);
   } 

   footer p {
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 10px;
    grid-column: 1/9;
    color: var(--secondary);
   }
  
/*media*/
@media screen and (min-width: 900px) {
  #deckCards {
    grid-column:1/4;
    grid-row-start: 2;
    margin-right: 0px;
    margin-left:0px;
    padding-right: 10px; 
    padding-left:0px;
    width: 100%;
   }

   #deckSummary {
    grid-row-start: 2;
    grid-column: 7/9;
   }

   #deckInput{
    width: 390px;
  }
 
  #codeID {
   width: 390px;
 }
  }